.page {
  .lv-header {
    min-height: 450px;
  }

  .lv-header-main {
    margin-bottom: 100px;
  }

  .lv-banner-title {
    background: $lv-brand-yellow;
    padding: 0 10px;
    display: inline-block;
  }
}
